body {
  font-size: 12px;
  line-height: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #e9e9e9;
  color: #12273c;
  margin: 0;
}

.container {
  width: 800px;
  margin: auto;
  background-color: #75c5f0;
}

.header {
  padding: 20px;
}

.header ul li {
  display: inline-block;
  margin-top: 12px;
  margin-right: 15px;
}

.header a {
  text-decoration: none;
  color: #12273c;
}

.header a:hover {
  color: white;
}

.hero {
  height: 300px;
  background-image: url(EVOS-ESPORTS.jpg);
  background-size: cover;
  background-position: 0 -70px;
  border-top: 8px solid #12273c;
  border-bottom: 8px solid #12273c;
}

.content {
  background-color: white;
  padding-top: 1px;
}

.content h2 {
  font-size: 20px;
}

.content a {
  text-decoration: none;
  color: #75c5f0;
}
